.nav-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  background: lightgray;
  border-bottom: #333333 double 2px;
  list-style-type: none;
  padding-inline-start: 15px;

  .dropdown {
    position: relative;
    padding-inline: 0.2em;

    &.active {
      background: black;
      color: #ccc;
    }

    .dropdown-list {
      display: none;
      position: absolute;
      min-width: 10em;
      list-style-type: none;
      background: lightgray;
      border: 2px double #333333;

      &.active {
        display: block;
      }

      .list-item {
        padding-block: 0.2em;
        margin-inline: 0.2em;

        .menu-item {
          display: block;
          text-decoration: none;
          font-family: "EB Garamond", serif;
          font-weight: bold;
          color: black;

          &:hover {
            background: black;
            color: #ccc;
          }
        }
      }
    }
  }
}

#timeContainer {
  margin-left: auto;
  padding-inline-end: 15px;
}
